body, html
{height:100%; font-family: 'Open Sans', sans-serif;}
body
{overflow-x: hidden; background-color: #fafafa}
.hidden
{display:none!important;}
.font-thin
{font-weight: 100}
.text-blue
{color:#1fbae2!important;}
a
{color:#1fbae2}
a:hover
{text-decoration:none;}
.page-title
{font-family: 'Open Sans'; text-transform:uppercase; font-weight:800; margin-top:50px; font-size:2.9em;}
.page-title small
{font-family: 'Minion Pro'; text-transform: lowercase; font-style:italic; font-size:40px; color:#fafafa; font-weight:600;}
#matiere-logo
{margin-top: 150px; width:150px;}

/*NAVBAR*/
.navbar
{position:fixed; width:100%; z-index: 100; text-align: center}
.nav-phone
{font-weight: 700; font-size:1.5em;}
/*Navbar-landing*/
.navbar-landing ul li a, .navbar-landing .navbar-brand
{color: #fafafa;}
.navbar-landing .floating-nav
{display:none;}
/*Navbar-white*/
.navbar-white
{
	background-color:#fafafa;
	border-radius:0px;
	-webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s;
    text-align:center;
    height:55px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}
.navbar-white ul li a, .navbar-white .navbar-brand, #floating-nav li a
{color: rgb(53,65,68);}
.navbar-white .floating-nav
{float:none; display:inline-block;}
.navbar-landing ul.dropdown-menu
{background-color: rgba(53,65,68, 0.8) ;}
.navbar-landing ul.dropdown-menu li a, .navbar-white ul.dropdown-menu li a
{color:#fafafa; padding:5px 20px;}
.navbar-landing ul.dropdown-menu li a:hover
{background-color:rgba(53,65,68, 1);}

/*Floating nav floating*/
#floating-nav
{position:absolute; bottom:-30px; text-align:center; width:100%;z-index:101;}
#floating-nav ul
{background-color: #fafafa; float:none; display:inline-block; height:55px; box-shadow: 0px 5px 15px rgba(0,0,0,0.3);}
#floating-nav ul.dropdown-menu
{display:none; height:auto;}
#floating-nav li.dropdown.open ul.dropdown-menu
{display:block;}

/*nonfloating nav */
.navbar-nav
{display: inline-block; float:none;}
.nav > li > a:hover 
{text-decoration: underline; background-color: inherit;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
background-color: inherit;
}
.nav-phone li a{width:auto;}
.nav > li > a:focus, .nav > li > a:hover
{background-color:inherit;}
body#index .navbar-normal
{display:none;}

/*backgrounds-landing*/
.fixed-bg-2
{background-image: url('../img/photo-etudes.jpg'); background-size: cover; height:80%; background-attachment: fixed }
.fixed-bg-3
{background-image: url('../img/photo-cours.jpg'); background-size: cover; height:120%; background-attachment: fixed; margin-top:-20%; }
.fixed-bg-4
{background-image: url('../img/photo-blocus.jpg'); background-size: cover; height:100%; background-attachment: fixed }
.fixed-bg-5
{background-image: url('../img/photo-stages.jpg'); background-size: cover; height:100%; background-attachment: fixed }
.fixed-bg-6
{background-image: url('../img/photo-etudes.jpg'); background-size: cover; height:120%; background-attachment: fixed }
.bg-scroll
{height:100%; background-color:transparent; float:left; z-index:10; width:100%; position:relative; top:50%;}
.scrolling-wrapper
{position:absolute; top:100%; z-index:10; height:100%;}
/*First section*/
.section-landing
{background-image: url('../img/landing-1.jpg'); background-size: cover; text-align:center; color:#fafafa; height:100%; 
box-shadow: 0px 5px 15px rgba(0,0,0,0.3); background-attachment: fixed}
#landing-logo
{margin-top:150px; margin-left:auto; margin-right:auto;}
.section-landing .more
{width:100%; position:absolute; bottom:70px;}
.section-stages
{margin-top:10%;}


/*Section welcome*/
.section-welcome
{margin-top:0px; color:#fafafa; width:100%; top:0%;}
.background-blue
{position:absolute; z-index:-1; left:-999px; right:-999px; margin:auto;}
.section-welcome h1
{text-align:center; margin-top:15%; font-size:32px; margin-bottom:30px;}
.section-welcome p
{font-family: 'Minion Pro'; font-style: italic; font-weight:400; font-size:30px; margin-top:30px; text-align:center;}
.section-welcome .separation
{background-image: url('../img/separation.png'); height:4px;}

/*Section etudes encadrées*/
.azerbloc
{
	font-family:'Open Sans';
	margin-top : 5%;
}
.azerbloc .azerform
{
	min-width : 250px;
	position: absolute;
	left: -999px;
	right: -999px;
	margin: auto;
	width: 70%;
	z-index:-0;
}
.azerbloc h3
{
	position :relative;
	width:100%;
	text-align:center;
	left:0px;
	margin-top:34px;
	font-size:17px;
	text-transform: uppercase;
	font-weight:600;
	z-index : -0;
}
.azerbloc p
{
	
	/*min-width : 300px;*/
	position :relative;
	margin-top:55px;
	font-size:16px;
	font-weight:400;
	z-index : -0;
}
h3.section-caption
{color:#fafafa; font-family:'Open Sans'; font-weight:600; text-transform:uppercase; margin-top:60%; font-size:24px;}

/*Section cours*/

/*Section blocus*/
#bloc-blocus
{
	min-width : 400px;
	position: absolute;
	left: -999px;
	right: -999px;
	margin-top: -15px;
	width: 100%;
	z-index:-0;
}
/*section-stages*/
.section-stages .azerbloc h3
{margin-top:25px;}
.section-stages .section-caption
{margin-top:40%;}
/*Informations*/
.infos
{
	margin-top : 250px;
	margin-bottom : 50px;
	text-align:center;
	font-weight : 600;
	font-size : 18px;
}
.num 
{
	font-size : 40px;
}

/*Carte*/
.section-carte
{width:100%; z-index:-2;}
#map
{
	width: 40%;
	display : block;
	padding-top : 5%;
	margin-left: auto;
	margin-right : auto;
	z-index:-2;
}

/*Footer*/
.section-footer
{
	z-index:0;
	width : 100%;
	height : 70%;
	background-color : rgb(33,41,44) ;
	position:relative;
}

.firstrow
{
	margin-bottom : 5%
}

.tableau
{
	margin-left : 20%;
	position : absolute;
	margin-top : 50px;
	width = 80%;
}

th
{
	color : rgb(147,156,162);
	padding : 5px 5px 5px 5px;}

td
{
	padding : 5px 5px 5px 5px;
}
td  a
{
	color : rgb(90,98,101);
}

td  a:hover
{
	color : #fafafa;
	text-decoration : none;
}

#logo2{
	margin-left: 10%;
	margin-top : 25px;
}

/*CGU*/
.cgu
{	
	text-align : center;
}

.cgu a
{	
	color : rgb(90,98,101);
}

.cgu a:hover
{	
	color : #fafafa;
	text-decoration : none;
}

/*----------------------------------------------------------------------Page Blocus--------------------------------------------------------------------------------------*/
body#service-blocus
{background-image: url('../img/services/blocus.jpg'); background-attachment:fixed; background-size: cover}
body#service-etudes
{background-image: url('../img/services/etudes.jpg'); background-attachment:fixed; background-size: cover}
body#service-cours
{background-image: url('../img/services/cours.jpg'); background-attachment:fixed; background-size: cover}
body#service-stages
{background-image: url('../img/services/stages.jpg'); background-attachment:fixed; background-size: cover}
body#service-methodo
{background-image: url('../img/services/methodo.jpg'); background-attachment:fixed; background-size: cover}
body#philo
{background-image: url('../img/philo.jpg'); background-attachment:fixed; background-size: cover}
/*First section*/
.section-service-top
{color:#fafafa; min-height:50%; padding-bottom:50px; text-align: center}

.section-service-intro
{
background-image:url('../img/texture-blocus.jpg'); background-repeat:repeat; position:relative; z-index:-2; margin-bottom:100px;
}
.section-service-intro .matiere-details
{padding-top:150px; text-align: center; margin-bottom:-50px; margin-top: -50px;}

.matiere-details-blue.big-margin
{margin-bottom: 200px;}
.matiere-details-transparent.resume
{text-align:center; padding-top:0px; margin-top:-100px;}
.matiere-details-transparent.resume h3
{margin-top:50px; position:relative;}
.matiere-details-transparent.resume ul
{line-height:27px; text-align:left; margin-top:50px;position:relative;}
.matiere-details-transparent.resume ul li
{color:#fafafa; line-height:30px; position:relative;}
.resume .azerbloc
{padding-top:1px; z-index:0; position:relative;}
.resume .azerbloc h3
{font-size:20px; font-weight:600; margin-bottom: 10px}
.resume .azerbloc .filet-points
{width:70%; margin-bottom:10px;}
.resume .azerbloc h4
{margin-left:0px; text-transform: none; font-size:18px; font-weight:600; position: relative}
.resume .azerbloc p
{font-weight:normal; font-size:14px; padding:0px 10px;}
.resume .azerbloc .azerform
{width:110%;}
.resume .background-image
{z-index:0;}
.section-contact.section-contact-service
{padding-top:200px;}
/*Page maths*/
body#matiere-maths
{background-image: url('../img/matieres/maths.jpg'); background-attachment: fixed; background-size: cover}
.section-matiere-top
{background-image: url('../img/maths-top.png'); background-size: cover; text-align:center; color:#fafafa; min-height:50%; 
 padding-bottom:100px;}
.filet-points
{margin:10px 0px 30px 0px;}
/*fonds matieres*/
body#matiere-sciences
{background-image: url('../img/matieres/sciences.jpg'); background-attachment: fixed; background-size: cover}
body#matiere-neerlandais
{background-image: url('../img/matieres/neerlandais.jpg'); background-attachment: fixed; background-size: cover}
body#matiere-anglais
{background-image: url('../img/matieres/anglais.jpg'); background-attachment: fixed; background-size: cover}
body#matiere-francais
{background-image: url('../img/matieres/francais.jpg'); background-attachment: fixed; background-size: cover}


.section-resume
{background-image:url('../img/texture-blocus.jpg'); z-index:-2;}
.section-resume
#matiere-logo
{height:150px; margin-top:100px;margin-left:auto; margin-right:auto;}

.matiere-details
{background-color:#fafafa; box-shadow: 0px 5px 15px rgba(0,0,0,0.3); padding:50px 70px; margin-bottom:100px; margin-top:50px;}
.matiere-details h3
{color:#1dbae2; text-transform: uppercase; font-weight:800; font-size:22px; margin-bottom:30px;}
.matiere-details p
{color:rgb(100,100,100); line-height:27px;}
.matiere-details ul li
{color:#1dbae2; line-height: 27px;}
.matiere-details hr
{border-color:#1dbae2; margin:30px 0px 10px 0px;}
.matiere-details h4
{color:black; text-transform:uppercase; font-weight:800; margin-left:20px; margin-bottom:20px;}
.matiere-details img
{width:100%;}

.more-info
{font-style: italic; padding-left:25px;}
.section-ribbon
{margin-bottom:100px;}
.background-image 
{position:absolute; width:100%; left:0px; z-index:-1;}
.citation
{color:#fafafa; margin-top:120px; font-family: 'Minion Pro'; font-style: italic; font-weight:400; font-size:24px;}
.text-grey
{color:rgb(100,100,100);}

.matiere-details-blue
{background-color: #1dbae2; margin-bottom:100px; margin-top:50px;}
.matiere-details-blue .matiere-details
{margin:10px -5px;}
.background-image-galerie
{width:100%; display:absolute;}
.to-gallerie
{text-align:center;}
.btn-galerie
{position:relative; bottom:150px; background-color:#1dbae2; color:#fafafa; border-radius:0px; padding:7px 25px;     
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;} 
.btn-galerie:hover
{color: #fafafa; box-shadow:0px 5px 15px rgba(255,255,255,0.3); }

.matiere-details-transparent
{text-align: left; color: #fafafa; background-color: transparent; box-shadow: none; padding-top:150px;}
.matiere-details-transparent p, .matiere-details-transparent h3
{color:#fafafa; margin-top:20px;}
.section-philo
{position:relative; z-index:0;}
.section-philo .background-image
{height:100%;}
.matiere-details-transparent hr
{border-color:#fafafa; margin:30px 0px 10px 0px;}
.section-contact
{background-color: #fafafa;
margin-top: -200px;
padding-top: 300px;
padding-bottom: 100px;
color:#1dbae2; font-weight:600; margin-bottom:-100px;}
.section-contact tel
{font-size:40px; font-weight:800;}
.tel-contact
{margin-bottom: 100px}
.contact-map
{margin: 100px 0px; width:70%;}
.section-map img
{z-index:0;}

/*CONTACT*/
.section-contact-top
{background-image: url('../img/small-pointe-bas.png'); background-size: 100% 100%; text-align:center; color:#fafafa; min-height:50%; width:100%;
 padding-bottom:100px;}
body#contact
{background-image: url('../img/fond-contact.jpg'); background-attachment:fixed; background-size: cover}
.section-contact-form
{position:relative; z-index:-2; margin-bottom:100px;}
.section-contact-form .matiere-details
{padding-top:150px; text-align: center; margin-bottom:-50px; margin-top: -100px;}
.btn-azt
{background-color:#1dbae2; color:#fafafa; box-shadow: 0px 5px 15px rgba(0,0,0,0.3); border-radius:5px; padding:7px 25px; display:block; width:100%; text-transform: uppercase;}
.section-contact-contact
{margin-top:100px; padding-top:100px;}

/*GALLERIE*/
body#gallerie
{background-image:url('../img/fond-gallerie.jpg'); background-size:cover; background-attachment:fixed;}
.section-gallerie
{ text-align:center;}
.section-contact-gallerie
{margin-bottom: -130px; margin-top:0px; padding-top:100px; background-image:url('../img/fond-tel-contact.png'); background-size:100%; background-color:transparent;}
.gallerie-wrapper
{margin:100px 0px; font-weight:100;}
.gallery-item
{width:200px; height:200px; display:inline-block;overflow:hidden; margin:10px;}

.cgu p, .cgu ul, .cgu h3, .cgu h4
{text-align:left;}

.landing-logo
{margin-top:150px;}
.logo-small
{height:100px;}
a.disabled
{opacity:0.7; pointer-events: none;}
