@media screen and (max-width: 500px) {

/*navbar*/
.navbar-collapse
{background-color: #1fbae2;width: 90%;margin-left: 5%!important; color:white!important;
   -moz-box-shadow:     5px 0px 15px rgba(0,0,0,0.3);
   -webkit-box-shadow: 5px 0px 15px rgba(0,0,0,0.3);
   box-shadow:          5px 0px 15px rgba(0,0,0,0.3);
}
.navbar-collapse ul.navbar-nav
{width: 100%;}
.navbar-collapse ul.navbar-nav li
{border-top: 1px solid #8ad8ec; padding:5px 0px;}
.navbar-collapse ul.navbar-nav li:first-child
{border-top: none}
.navbar-collapse ul.dropdown-menu li
{border-top: none; padding:0px;}
.navbar-collapse ul.dropdown-menu li a
{color:black; text-align:center; padding-left:0px!important;}
.navbar-collapse ul.dropdown-menu li a:hover
{background-color:rgba(0,0,0,0.3)}

.navbar-toggle .icon-bar
{background-color:#fafafa;}
.navbar-white .navbar-toggle .icon-bar
{background-color:#354144;}

/*landing page*/
body#index .navbar-normal
{display:block;}
#landing-logo
{height:150px; margin-top:100px;}
h2.page-title, h2.page-title small
{font-size:25px;}
.landing-phone
{font-weight:bold;font-size:25px; position:absolute; bottom:10%; width:100%;}
.section-welcome.bg-scroll
{margin-top:-10px;}
.section-welcome h1
{font-size:22px; margin-top:150px;}
.section-welcome p
{font-size:22px;}

.azerbloc
{margin-top:30%;}
.azerbloc h3
{padding-top:30px;}
.azerbloc p
{margin-top:45px;}
.background-blue
{width:100%; height:130%;}
.section-etudes.bg-scroll
{margin-top:40%;}
.section-cours.bg-scroll, .section-blocus.bg-scroll, .section-stages.bg-scroll
{margin-top:150%;}
.bg-scroll
{margin-top:100%;}
.section-blocus .background-blue, .section-stages .background-blue
{height:150%;}
.section-map .background-image
{width:auto;}
.section-map .contact-map
{width:100%;}
}